.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 100px auto;
  gap: 32px;
}

.content {
  background-color: #acacac;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 30px;
}

.content h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content input[type="text"]:first-of-type {
  font-size: 18px;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d5d5d5;
}

.customizeLink {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.customizeLink span{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.customizeLink input[type="checkbox"]{
width: 30px;
height: 30px;
border-radius: 6px;
}

.customizeLink input[type="text"]{
  padding: 4px;
  border: 1px solid #d5d5d5;
  outline: none;
  border-radius: 4px;
}

.buttonGroup{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 1rem;
}

.buttonGroup button{
  padding: 8px 16px;
  width: 100%;
  background-color: #072f79;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.buttonGroup button:hover{
  opacity: 0.7;
  transition: 0.5s;
  cursor: pointer;
}